@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav { opacity: 1; }
  
.nav-links a {
    text-decoration: none;
    color: #f4f4f4;
    padding: .25rem
}

.nav-links a:hover {
    color: white;
}

.hidden-nav {
    display: none;
}

main {
    background: white;
    text-align: justified;
    padding: .5rem;
}

h1 {
    padding-bottom: .5rem;
}


/* hamburger icon is hidden on desktops */

#menu-toggle, .hamburger {
    display: none;
}

.nav-links {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 80%;
}

.nav-links a {
    flex: 1 0;
    text-align: center;
    margin: auto;
    width: 100%;
}
  

/* Media queries */
  
@media screen and (max-width: 768px) {
    .hidden-nav {
        display: flex;
        align-items: center;
        padding: .5rem;
        height: 2.5rem;
    }
    
    nav {
        padding: .5rem;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        text-align: right;
    }
    
    .nav-links {
        display: none;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        color: #f4f4f4;
        position: relative;
        right: 0;
        top: .6em;
    }
    
    /*   when hamburger icon is checked, nav links will pop out */    
    #menu-toggle:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #333;
        margin-top: 2em;
        width: 100%;
    }

    #menu-toggle:checked ~ .nav-links a {
        border-bottom: 1px solid white;
        padding: 1em;
    }

    #menu-toggle:checked ~ .nav-links > img  {
        display: none;
    }
}